---
permalink: /newcomb.ris
eleventyExcludeFromCollections: false
date: Last Modified
layout: null
---
TY  - ELEC
TI  - Indigenous Law Institute: A Movement Toward Restoration and Healing
AU  - Straight, Birgil Kills
AU  - Newcomb, Steven T
T2  - Native Web
DA  - 2024///
PY  - 2024
UR  - http://ili.nativeweb.org/
Y2  - 2024/11/16/07:46:26
L2  - http://ili.nativeweb.org/
ER  - 

TY  - JOUR
TI  - The Evidence of Christian Nationalism in Federal Indian Law: The Doctrine of Discovery, Johnson v. McIntosh, and Plenary Power
AU  - Newcomb, Steven T
T2  - NYU Rev. L. & Soc. Change
DA  - 1992///
PY  - 1992
VL  - 20
IS  - 2
SP  - 303
EP  - 341
J2  - NYU Rev. L. & Soc. Change
UR  - https://socialchangenyu.com/review/evidence-of-christian-nationalism-in-federal-indian-law-the-doctrine-of-discovery-johnson-v-mcintosh-and-plenary-power-the/
Y2  - 2024/07/01/
ER  - 

TY  - CHAP
TI  - The Human Mind and the Claim of a Right of Domination in U.S. Federal Indian Law
AU  - Newcomb, Steven T.
T2  - The Doctrine of Discovery
A2  - Lyons, Betty Gaeñ hia uh
CY  - Onondaga Nation
DA  - 2022/05/01/
PY  - 2022
SP  - 23
EP  - 33
PB  - American Indian Law Alliance
UR  - https://aila.ngo/wp-content/uploads/2022/05/Doctrine-of-Discovery-Booklet-rev3.1.pdf
ER  - 

TY  - MPCT
TI  - The Doctrine of Discovery: Unmasking the Domination Code
AU  - Wolfchild, Sheldon P.
A3  - Newcomb, Steven T.
A3  - Wolfchild, Sheldon P.
C4  - Documentary
C5  - Streaming
DA  - 2015///
PY  - 2015
SP  - 01:02:04
LA  - English
PB  - 38 Plus 2 Productions
ST  - Unmasking the Domination Code
UR  - https://vimeo.com/ondemand/dominationcode
Y2  - 2024/04/02/
ER  - 

TY  - SOUND
TI  - Steven Newcomb & JoDe Goudy: U.S. Law
AU  - Randall, Mitch
AU  - Randall, Tanner
AB  - The podcast explores how a centuries-old Christian doctrine encouraged conquest and colonization of non-Christians -- and how its legacies still affect various lands and peoples.

Special guests: Steven Newcomb & JoDe Goudy, educators. More: https://doctrineofdiscovery.org/the-doctrine-of-discovery-unmasking-the-domination-code/

The Doctrine of Christian Discovery podcast was produced during the “Religious Origins of White Supremacy: Johnson v. M'Intosh and the Doctrine of Christian Discovery" conference in December 2023 at Syracuse University in New York.

The podcast is pitched to students and others beginning their exploration of the Doctrine of Christian Discovery.

The producers acknowledge with respect the Onondaga Nation, firekeepers of the Haudenosaunee, the Indigenous people on whose ancestral lands Syracuse University now stands. May the information you glean from this podcast motivate you to uphold Indigenous values, protect Mother Earth and honor Indigenous treaties.

The producers would like to thank the sponsors who made this podcast possible. Many thanks to: The Henry Luce Foundation; Syracuse University; Indigenous Values Initiative; American Indian Law Alliance; American Indian Community House; Good Faith Media; Tonatierra; and Toward Our Common Public Life. We appreciate your support.

This podcast is produced in collaboration between Good Faith Media, Syracuse University, and Indigenous Values Initiative.

Host: Tanner Randall, Good Faith Media. Executive producers: Mitch Randall, Good Faith Media; Philip P. Arnold and Sandy Bigtree, Indigenous Values Initiative; and Adam DJ Brett, Syracuse University and American Indian Law Alliance. Producer: Cliff Vaughn. Editor: David Pang. Music: Pond5. Production assistance: American Indian Law Alliance.

Learn more:

DoctrineOfDiscovery.org

IndigenousValues.org

Syracuse.edu

aila.ngo

GoodFaithMedia.org

Released February 2024.
LA  - English
M1  - 05
M3  - MP3
ST  - Steven Newcomb & JoDe Goudy
UR  - https://megaphone.link/AOOOI7101202412
Y2  - 2024/08/15/
ER  - 

TY  - ELEC
TI  - S1E02 - The Doctrine Of Christian Discovery As An Ideological And Legal Framework with Steven T. Newcomb
AU  - Arnold, Philip P
AU  - Bigtree, Sandra
T2  - Mapping the Doctrine of Discovery Podcast
AB  - Our hosts (Philip P. Arnold & Sandy Bigtree) speak with Steven T. Newcomb (Shawnee, Lenape) who is the co-founder and co-director of the Indigenous Law Institute.
DA  - 2022/06/12/
PY  - 2022
LA  - en
UR  - https://podcast.doctrineofdiscovery.org/season1/episode-02/
Y2  - 2024/11/08/09:40:32
L2  - https://podcast.doctrineofdiscovery.org/season1/episode-02/
ER  - 

TY  - CHAP
TI  - Original Nations of “Great Turtle Island” and the Genesis of the United States
AU  - Newcomb, Steven T.
T2  - The Wiley Blackwell Companion to Religion and Politics in the U.S.
AB  - Summary This chapter, written from an Indigenous peoples? perspective from the shore, examines the intertwining of religion and politics which served as the basis for the founding of the political system known as the United States of America. This interweaving of religion and politics is evident in colonial documents of Christian ?discovery? and ?dominium? that form a key part of the historical context within which the genesis of the United States occurred. What might be called ?an Indigenous peoples? history of the United States,? premised on careful examination of the organic colonial documents of the historical record, leads to an atypical conclusion: common views of the founding of the United States have grown out of a naive mythology that has assiduously avoided the darker reality of Christian discovery, empire, and the political domination of the original nations and peoples of the continent.
DA  - 2016/05/03/
PY  - 2016
SP  - 5
EP  - 17
SN  - 978-1-118-52863-1
UR  - https://doi.org/10.1002/9781118528631.ch1
Y2  - 2023/02/18/
KW  - American empire
KW  - American Indian
KW  - Christians
KW  - Doctrine of Discovery
KW  - Great Turtle Island
KW  - Indigenous peoples
KW  - original nations
KW  - papal bulls
KW  - Thomas Jefferson
KW  - Vatican
ER  - 

TY  - BOOK
TI  - Pagans In The Promised Land: Decoding The Doctrine Of Christian Discovery
AU  - Newcomb, Steven T
DA  - 2008///
PY  - 2008
PB  - Fulcrum Publishing
SN  - 1-55591-642-2
ST  - Pagans in the Promised Land
L2  - https://books.google.com.pk/books?id=HeDKUXsOC9cC
L2  - https://books.google.com.pk/books?id=HeDKUXsOC9cC
L2  - https://books.google.com.pk/books?id=HeDKUXsOC9cC
KW  - Law / General
KW  - Law / Indigenous Law
KW  - Political Science / Religion, Politics & State
KW  - Social Science / Ethnic Studies / American / Native American Studies
KW  - Social Science / Indigenous Studies
ER  - 

TY  - ELEC
TI  - Face to Face with Pope Francis to Get the Inter Caetera Papal Bull Revoked
AU  - Newcomb, Steven
T2  - ORIGINAL FREE NATIONS
AB  - On May 4, 1493 Pope Alexander VI issued the Inter Caetera papal bull which called for non-Christian nations to be reduced and subjugated (“barbare nationes deprimantur”). On May 4, 2013, 200 years after our great Shawnee leader Tecumseh fell in battle on October 5, 1813, Dr. Debra Harry (Paiute Nation), Sharon Venne (Cree Nation, Treaty Six) and
DA  - 2018/02/01/
PY  - 2018
LA  - en-US
UR  - https://originalfreenations.com/face-to-face-with-pope-francis-to-get-the-inter-caetera-papal-bull-revoked/
Y2  - 2024/11/16/18:28:08
L2  - https://originalfreenations.com/face-to-face-with-pope-francis-to-get-the-inter-caetera-papal-bull-revoked/
ER  - 

TY  - ELEC
TI  - Steven Newcomb: Time for Pope Francis to revoke the papal bulls
AU  - Newcomb, Steven T
T2  - Indianz
DA  - 2016///
PY  - 2016
UR  - https://indianz.com/News/2016/09/05/steven-newcomb-time-for-pope-francis-to.asp
Y2  - 2024/11/16/18:21:58
ER  - 

TY  - VIDEO
TI  - Pagans In The Promised Land - Rights of Mother Earth International Indigenous Conference
AU  - Newcomb, Steven T
AB  - **Pagans in the Promised Land
C5  - Video
DA  - 2022/03/19/
PY  - 2022
DP  - odysee.com
LA  - en
PB  - Oysee
UR  - https://odysee.com/@ratical.org:4/PagansInThePromisedLand-RightsOfMotherEarth-IPC-040512:0
Y2  - 2024/11/16/17:55:54
ER  - 

TY  - JOUR
TI  - The UN Declaration on the Rights of Indigenous peoples and the Paradigm of Domination
AU  - Newcomb, Steven T
T2  - Griffith La w Review
DA  - 2011///
PY  - 2011
VL  - 20
IS  - 3
SP  - 579
EP  - 607
ER  - 

TY  - ELEC
TI  - Steven Newcomb Intervention at the U.N. High Level Plenary Meeting World Conference on Indigenous Peoples
AU  - Newcomb, Steven T
T2  - Ratical
DA  - 2013///
PY  - 2013
UR  - https://ratical.org/many_worlds/StevenNewcomb/Intervention-UNPFII-WCIP-2013.html
Y2  - 2024/11/16/17:39:02
L2  - https://ratical.org/many_worlds/StevenNewcomb/Intervention-UNPFII-WCIP-2013.html
ER  - 

TY  - ELEC
TI  - 500 Years of Injustice: The Legacy of Fifteenth Century Religious Prejudice
AU  - Newcomb, Steven T
T2  - Ratical Earth Journal
DA  - 1992///
PY  - 1992
UR  - https://journal.ratical.earth/2021/12/19/500-years-of-injustice-the-legacy-of-fifteenth-century-religious-prejudice/
Y2  - 2024/11/16/13:00:26
L2  - https://journal.ratical.earth/2021/12/19/500-years-of-injustice-the-legacy-of-fifteenth-century-religious-prejudice/
ER  - 

TY  - JOUR
TI  - Perspectives: Healing, restoration, and rematriation
AU  - Newcomb, Steven T.
T2  - News & Notes
DA  - 1995///
PY  - 1995
J2  - News & Notes
UR  - http://ili.nativeweb.org/perspect.html
ER  - 

TY  - JOUR
TI  - The Challenges of Revoking the Papal Bulls: A View-from-the-Shore Analysis of Recent Statements by Christian Churches
AU  - Newcomb, Steven
T2  - CrossCurrents
DA  - 2024///
PY  - 2024
VL  - 74
IS  - 4
SP  - 431
EP  - 457
SN  - 1939-3881
UR  - https://muse.jhu.edu/pub/12/article/963635
ER  - 

TY  - JOUR
TI  - On the Rightful Political Heritage of Native Nations
AU  - Newcomb, Steven T
T2  - Indigenous Peoples' JL Culture & Resistance
DA  - 2005///
PY  - 2005
VL  - 2
SP  - 1
J2  - Indigenous Peoples' JL Culture & Resistance
ER  - 

TY  - JOUR
TI  - Crooked Paths to Allotment: The Fight over Federal Indian Policy after the Civil War. By C. Joseph Genetin-Pilawa.
AU  - Newcomb, Steven T
T2  - American Indian Culture and Research Journal
DA  - 2014///
PY  - 2014
VL  - 38
IS  - 2
J2  - American Indian Culture and Research Journal
SN  - 0161-6463
ER  - 

TY  - JOUR
TI  - Decolonizing Museums: Representing Native America in National and
AU  - Newcomb, Steven T
T2  - AMERICAN INDIAN CULTURE AND RESEARCH JOURNAL
DA  - 2014///
PY  - 2014
VL  - 38
IS  - 2
SP  - 152
J2  - AMERICAN INDIAN CULTURE AND RESEARCH JOURNAL
ER  - 

TY  - JOUR
TI  - The Evidence of Christian Nationalism in Federal Indian Law: The Doctrine of Discovery, Johnson v McIntosh, and Plenary Power”(1993) 20
AU  - Newcomb, Steven T
T2  - New York University Review of Law and Social Change
VL  - 2
SP  - 303
J2  - New York University Review of Law and Social Change
ER  - 

TY  - JOUR
TI  - Law, Culture & Resistance
AU  - Swim, Where Red Fish Still
AU  - Rangi, Ko
AU  - Newcomb, Steven T
AU  - Fletcher, Matthew LM
AU  - Star, Wendy Red
AU  - Tsouhlarakis, Anna
AU  - Archuleta, Elizabeth
AU  - McCampbell, Harvest
AU  - Lawrence, T
AU  - Williams, John L
ER  - 

TY  - JOUR
TI  - Indian Boarding Schools in Context
AU  - Newcomb, Steven T
T2  - Indian Country Today
DA  - 2011///
PY  - 2011
J2  - Indian Country Today
ER  - 

TY  - JOUR
TI  - S01E02: The Doctrine Of Christian Discovery As An Ideological And Legal Framework with Steven T. Newcomb
AU  - Arnold, Philip P
AU  - Bigtree, Sandra L
T2  - Podcast. Mapping the Doctrine of Discovery
DA  - 2023///
PY  - 2023
J2  - Podcast. Mapping the Doctrine of Discovery
ER  - 

