---
permalink: /newcomb.csl.json
eleventyExcludeFromCollections: true
layout: null
---
[
  {
    "id": "indigenous-law-institute-movement",
    "type": "webpage",
    "title": "Indigenous Law Institute: A Movement Toward Restoration and Healing",
    "container-title": "Native Web",
    "author": [
      { "family": "Straight", "given": "Birgil Kills" },
      { "family": "Newcomb", "given": "Steven T" }
    ],
    "issued": { "date-parts": [[2024]] },
    "accessed": { "date-parts": [[2024,11,16]] },
    "URL": "https://indigenouslawinstitute.com/",
    "language": "en"
  },
  {
    "id": "evidence-of-christian-nationalism-1992",
    "type": "article-journal",
    "title": "The Evidence of Christian Nationalism in Federal Indian Law: The Doctrine of Discovery, Johnson v. McIntosh, and Plenary Power",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "NYU Rev. L. & Soc. Change",
    "container-title-short": "NYU Rev. L. & Soc. Change",
    "volume": "20",
    "issue": "2",
    "page": "303-341",
    "issued": { "date-parts": [[1992]] },
    "accessed": { "date-parts": [[2024,7,1]] },
    "URL": "https://socialchangenyu.com/review/evidence-of-christian-nationalism-in-federal-indian-law-the-doctrine-of-discovery-johnson-v-mcintosh-and-plenary-power-the/"
  },
  {
    "id": "human-mind-right-of-domination-2022",
    "type": "chapter",
    "title": "The Human Mind and the Claim of a Right of Domination in U.S. Federal Indian Law",
    "author": [ { "family": "Newcomb", "given": "Steven T." } ],
    "editor": [ { "family": "Lyons", "given": "Betty Gaeñ hia uh" } ],
    "container-title": "The Doctrine of Discovery",
    "publisher-place": "Onondaga Nation",
    "publisher": "American Indian Law Alliance",
    "page": "23-33",
    "issued": { "date-parts": [[2022,5,1]] },
    "URL": "https://aila.ngo/wp-content/uploads/2022/05/Doctrine-of-Discovery-Booklet-rev3.1.pdf"
  },
  {
    "id": "domination-code-2015",
    "type": "motion_picture",
    "title": "The Doctrine of Discovery: Unmasking the Domination Code",
    "shortTitle": "Unmasking the Domination Code",
    "genre": "Documentary",
    "medium": "Streaming",
    "author": [ { "family": "Wolfchild", "given": "Sheldon P." } ],
    "contributor": [ { "family": "Newcomb", "given": "Steven T." }, { "family": "Wolfchild", "given": "Sheldon P." } ],
    "publisher": "38 Plus 2 Productions",
    "issued": { "date-parts": [[2015]] },
    "accessed": { "date-parts": [[2024,4,2]] },
    "URL": "https://vimeo.com/ondemand/dominationcode",
    "note": "Duration 01:02:04; Language English"
  },
  {
    "id": "us-law-podcast-2024",
    "type": "broadcast",
    "title": "Steven Newcomb & JoDe Goudy: U.S. Law",
    "shortTitle": "Steven Newcomb & JoDe Goudy",
    "author": [
      { "family": "Randall", "given": "Mitch" },
      { "family": "Randall", "given": "Tanner" }
    ],
    "abstract": "The podcast explores how a centuries-old Christian doctrine encouraged conquest and colonization of non-Christians -- and how its legacies still affect various lands and peoples. Special guests: Steven Newcomb & JoDe Goudy... Released February 2024.",
    "language": "en",
    "medium": "MP3",
    "issued": { "date-parts": [[2024]] },
    "accessed": { "date-parts": [[2024,8,15]] },
    "URL": "https://megaphone.link/AOOOI7101202412"
  },
  {
    "id": "mapping-dod-s1e02-2022",
    "type": "webpage",
    "title": "S1E02 - The Doctrine Of Christian Discovery As An Ideological And Legal Framework with Steven T. Newcomb",
    "author": [ { "family": "Arnold", "given": "Philip P" }, { "family": "Bigtree", "given": "Sandra" } ],
    "container-title": "Mapping the Doctrine of Discovery Podcast",
    "abstract": "Our hosts (Philip P. Arnold & Sandy Bigtree) speak with Steven T. Newcomb...",
    "language": "en",
    "issued": { "date-parts": [[2022,6,12]] },
    "accessed": { "date-parts": [[2024,11,8]] },
    "URL": "https://podcast.doctrineofdiscovery.org/season1/episode-02/",
    "note": "Also available at https://podcast.doctrineofdiscovery.org/season1/episode-02/"
  },
  {
    "id": "original-nations-genesis-2016",
    "type": "chapter",
    "title": "Original Nations of “Great Turtle Island” and the Genesis of the United States",
    "author": [ { "family": "Newcomb", "given": "Steven T." } ],
    "container-title": "The Wiley Blackwell Companion to Religion and Politics in the U.S.",
    "page": "5-17",
    "issued": { "date-parts": [[2016,5,3]] },
    "DOI": "10.1002/9781118528631.ch1",
    "ISBN": "978-1-118-52863-1",
    "URL": "https://doi.org/10.1002/9781118528631.ch1",
    "keyword": [
      "American empire","American Indian","Christians","Doctrine of Discovery","Great Turtle Island","Indigenous peoples","original nations","papal bulls","Thomas Jefferson","Vatican"
    ]
  },
  {
    "id": "pagans-in-the-promised-land-2008",
    "type": "book",
    "title": "Pagans In The Promised Land: Decoding The Doctrine Of Christian Discovery",
    "shortTitle": "Pagans in the Promised Land",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "publisher": "Fulcrum Publishing",
    "issued": { "date-parts": [[2008]] },
    "ISBN": "1-55591-642-2",
    "URL": "https://books.google.com.pk/books?id=HeDKUXsOC9cC",
    "keyword": [
      "Law / General","Law / Indigenous Law","Political Science / Religion, Politics & State","Social Science / Ethnic Studies / American / Native American Studies","Social Science / Indigenous Studies"
    ]
  },
  {
    "id": "face-to-face-pope-francis-2018",
    "type": "webpage",
    "title": "Face to Face with Pope Francis to Get the Inter Caetera Papal Bull Revoked",
    "author": [ { "family": "Newcomb", "given": "Steven" } ],
    "container-title": "ORIGINAL FREE NATIONS",
    "abstract": "On May 4, 1493 Pope Alexander VI issued the Inter Caetera papal bull...",
    "language": "en-US",
    "issued": { "date-parts": [[2018,2,1]] },
    "accessed": { "date-parts": [[2024,11,16]] },
    "publisher": "38 Plus 2 Productions",
    "URL": "https://originalfreenations.com/face-to-face-with-pope-francis-to-get-the-inter-caetera-papal-bull-revoked/"
  },
  {
    "id": "time-to-revoke-papal-bulls-2016",
    "type": "webpage",
    "title": "Steven Newcomb: Time for Pope Francis to revoke the papal bulls",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "Indianz",
    "issued": { "date-parts": [[2016]] },
    "accessed": { "date-parts": [[2024,11,16]] },
    "URL": "https://indianz.com/News/2016/09/05/steven-newcomb-time-for-pope-francis-to.asp"
  },
  {
    "id": "pagans-in-the-promised-land-video-2022",
    "type": "motion_picture",
    "title": "Pagans In The Promised Land - Rights of Mother Earth International Indigenous Conference",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "genre": "Video",
    "issued": { "date-parts": [[2022,3,19]] },
    "publisher": "Oysee",
    "language": "en",
    "URL": "https://odysee.com/@ratical.org:4/PagansInThePromisedLand-RightsOfMotherEarth-IPC-040512:0",
    "accessed": { "date-parts": [[2024,11,16]] }
  },
  {
    "id": "un-declaration-paradigm-of-domination-2011",
    "type": "article-journal",
    "title": "The UN Declaration on the Rights of Indigenous peoples and the Paradigm of Domination",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "Griffith Law Review",
    "volume": "20",
    "issue": "3",
    "page": "579-607",
    "issued": { "date-parts": [[2011]] }
  },
  {
    "id": "intervention-un-wcip-2013",
    "type": "webpage",
    "title": "Steven Newcomb Intervention at the U.N. High Level Plenary Meeting World Conference on Indigenous Peoples",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "Ratical",
    "issued": { "date-parts": [[2013]] },
    "accessed": { "date-parts": [[2024,11,16]] },
    "URL": "https://ratical.org/many_worlds/StevenNewcomb/Intervention-UNPFII-WCIP-2013.html"
  },
  {
    "id": "500-years-of-injustice-1992",
    "type": "webpage",
    "title": "500 Years of Injustice: The Legacy of Fifteenth Century Religious Prejudice",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "Ratical Earth Journal",
    "issued": { "date-parts": [[1992]] },
    "accessed": { "date-parts": [[2024,11,16]] },
    "URL": "https://journal.ratical.earth/2021/12/19/500-years-of-injustice-the-legacy-of-fifteenth-century-religious-prejudice/"
  },
  {
    "id": "healing-restoration-rematriation-1995",
    "type": "article-journal",
    "title": "Perspectives: Healing, restoration, and rematriation",
    "author": [ { "family": "Newcomb", "given": "Steven T." } ],
    "container-title": "News & Notes",
    "issued": { "date-parts": [[1995]] },
    "URL": "https://indigenouslawinstitute.com/perspect.html"
  },
  {
    "id": "challenges-of-revoking-papal-bulls-2024",
    "type": "article-journal",
    "title": "The Challenges of Revoking the Papal Bulls: A View-from-the-Shore Analysis of Recent Statements by Christian Churches",
    "author": [ { "family": "Newcomb", "given": "Steven" } ],
    "container-title": "CrossCurrents",
    "issued": { "date-parts": [[2024]] },
    "volume": "74",
    "issue": "4",
    "page": "431-457",
    "ISSN": "1939-3881",
    "URL": "https://muse.jhu.edu/pub/12/article/963635"
  },
  {
    "id": "rightful-political-heritage-2005",
    "type": "article-journal",
    "title": "On the Rightful Political Heritage of Native Nations",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "Indigenous Peoples' JL Culture & Resistance",
    "issued": { "date-parts": [[2005]] },
    "volume": "2",
    "page": "1"
  },
  {
    "id": "crooked-paths-to-allotment-2014",
    "type": "article-journal",
    "title": "Crooked Paths to Allotment: The Fight over Federal Indian Policy after the Civil War. By C. Joseph Genetin-Pilawa.",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "American Indian Culture and Research Journal",
    "issued": { "date-parts": [[2014]] },
    "volume": "38",
    "issue": "2",
    "ISSN": "0161-6463"
  },
  {
    "id": "decolonizing-museums-2014",
    "type": "article-journal",
    "title": "Decolonizing Museums: Representing Native America in National and",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "American Indian Culture and Research Journal",
    "issued": { "date-parts": [[2014]] },
    "volume": "38",
    "issue": "2",
    "page": "152"
  },
  {
    "id": "evidence-of-christian-nationalism-1993",
    "type": "article-journal",
    "title": "The Evidence of Christian Nationalism in Federal Indian Law: The Doctrine of Discovery, Johnson v McIntosh, and Plenary Power",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "New York University Review of Law and Social Change",
    "container-title-short": "NYU Rev. L. & Soc. Change",
    "issued": { "date-parts": [[1993]] },
    "volume": "20",
    "issue": "2",
    "page": "303-341"
  },
  {
    "id": "law-culture-resistance",
    "type": "article-journal",
    "title": "Law, Culture & Resistance",
    "author": [
      { "family": "Swim", "given": "Where Red Fish Still" },
      { "family": "Rangi", "given": "Ko" },
      { "family": "Newcomb", "given": "Steven T" },
      { "family": "Fletcher", "given": "Matthew LM" },
      { "family": "Star", "given": "Wendy Red" },
      { "family": "Tsouhlarakis", "given": "Anna" },
      { "family": "Archuleta", "given": "Elizabeth" },
      { "family": "McCampbell", "given": "Harvest" },
      { "family": "Lawrence", "given": "T" },
      { "family": "Williams", "given": "John L" }
    ]
  },
  {
    "id": "indian-boarding-schools-in-context-2011",
    "type": "article-journal",
    "title": "Indian Boarding Schools in Context",
    "author": [ { "family": "Newcomb", "given": "Steven T" } ],
    "container-title": "Indian Country Today",
    "issued": { "date-parts": [[2011]] }
  },
  {
    "id": "mapping-dod-s01e02-2023",
    "type": "broadcast",
    "title": "S01E02: The Doctrine Of Christian Discovery As An Ideological And Legal Framework with Steven T. Newcomb",
    "author": [ { "family": "Arnold", "given": "Philip P" }, { "family": "Bigtree", "given": "Sandra L" } ],
    "container-title": "Podcast. Mapping the Doctrine of Discovery",
    "issued": { "date-parts": [[2023]] }
  }
]
