.footer {
  margin-top: 5px;
  text-align: center;
  @include breakpoint('small') {
    padding-top: 30px;
  }
}

.footer-social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
